<h2>{{post.title}}</h2>
{{post.content}}
<hr>
<button class="btn btn-danger" {{action 'destroyPost' post}}>Delete</button>
{{update-post post=post updatePost2="updatePost3"}}
{{add-comment post=post addComment="addComment"}}

{{#each post.comments as |comment|}}
<h4>{{comment.title}} by {{comment.author}}</h4>
{{comment.content}}
{{update-comment comment=comment post=post updateComment="updateComment"}}
<button class="btn btn-danger" {{action 'destroyComment' comment post}}>Delete Comment</button>
<hr>
{{/each}}
